<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> -->

    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/mainapp/css/myblogstyle.css' %}">

  </head>
  <body>

        <!-- Uses a transparent header that draws on top of the layout's background -->
    <style>
    .demo-layout-transparent {
      background: url('/static/login/images/576485.jpg') center / cover;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
    </style>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Excelsior</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'home:main' %}">Home</a>
            <a class="mdl-navigation__link" href="{% url 'admin:index' %}" style="color: white;">Admin</a>
            <a class="mdl-navigation__link" href="{% url 'mainapp:myblog' %}">My Blog</a>
            <a class="mdl-navigation__link" href="{% url 'mainapp:alumni' %}">Alumni List</a>
            <a class="mdl-navigation__link" href="{% url 'user_logout' %}">Logout</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">My Menu</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{% url 'mainapp:myposts' %}">My posts</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
      </main>
    </div>

    <div id="blog" class="container" style="left: 0.9%; z-index:1; position: relative;">
    <form method="post">
      <u> <h4>New Post</h4> </u> <br>
      {% csrf_token %}
      {% for field in form %}
          <h6>{{ field.label_tag }}</h6> {{ field }} <br>
      {% endfor %}
      <input align="center" class="btn btn-primary btn-sm" type="submit" name="" value="Post">
    </form>
    </div>

  </body>
</html>
